html, body {
  height: 100%;
  width: 100%;
  min-width: 300px;
  overflow-x: auto;
}

#root, #wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  text-align: center;
  padding: 10px;
}

.tip-message {
  margin-left: 12px;
  font-size: 12px;
  color: #999;
  width: max-content;
  white-space: nowrap;
}